.item-handelers {
    width: auto;
    height: 150px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 20px;
}

.item-handelers-buttons{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}

.button-counter {
    cursor: pointer;
    border: none;
    align-items: center;
    height: 50px;
    width: 50px;
    /* border-radius: 2px solid #fff; */
    background-color: #6b5245;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    transition: 2s ease all;
}

.button-counter:hover {
    color: rgb(120, 115, 115);
    box-shadow: 0px 0 7px 0 #000;
}

.item-handelers p {
    align-content: center   ;
    text-align: center;
    width: 30px;
    font-size: 30px;
}

.icon {
    margin: 0;
    padding: 5px;
}

.button-addCart {
    background-color: rgb(224, 213, 213);
    border: 1px solid #6b5245;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    transition: 2s ease all;
}

.button-addCart:hover {
    cursor: pointer;
    box-shadow: 0px 0 7px 0 #000;
}

@media screen and (max-width: 1040px) {
    .button-addCart {
        font-size: 14px;
        height: 40px;
    }
}

@media screen and (max-width: 904px) {
    .button-addCart {
        font-size: 10px;
        height: 40px;
    }
    .button-counter {
        height: 40px;
        width: 40px;
    }
    .icon {
        font-size: 20px;
    }

    .item-handelers p {
        width: 10px;
        font-size: 20px;
    }

}