.button {
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #000;
    border-radius: 25px;
    transition: 1s ease all;
    margin-bottom: 15px;
}

.button-link {
    text-decoration: none;
    color: #fff;
}

.button:hover {
    color: rgb(199, 187, 187);
    box-shadow: 0px 0 5px 0 #000;
}