.items-list-container {
    position: absolute;
    top: 100px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(224, 213, 213);
    padding: 0 0 15px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}