.item {
    background-color: #fff;
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    color: #6b5245;
    margin: 0 10px 10px 10px;
    /* padding-bottom: 10px; */
}

.img {
    object-fit: contain;
    width: 200px;
    height: 100%;
}

.item-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.item-contain h1 {
    margin-top: 10px ;
    font-size: 20px;
    text-align: center;
}

.item-price {
    /* margin-top: 60px; */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.item-handelers {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}

.item-handelers a {
    color: #000;
}
