.item {
    background-color: #fff;
    width: 30%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    margin: 0 10px 10px 10px;
}

.img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.item-contain {
    background-color: #6b5245;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.item-contain h1 {
    height: 60px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.item-price {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
