.Cart {
    background-color: rgba(202, 188, 169, .5);
    min-height: 100vh;
    height: auto;
    margin-top: 100px;
}

.CartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}