.CartItem {
    background-color: rgba(202, 188, 169, .5);
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}