.item-list {
    width: 250px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.item-list h1 {
    font-size: 25px;
    text-align: center;
}

.item-list-handelers {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

